/*text styling*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubblegum Sans', cursive;
}

p, ul {
    font-family: 'Merienda', cursive;
}

/*CSS for index.html*/
.row-content {
    padding: 3rem;
}

.card-content {
    border: 1px solid red;
}

.instagram-icon {
    background: linear-gradient(30deg, yellow, orange, hotpink, purple, blue)
}

.fa-phone {
    color: black;
}

.fa-envelope-o {
    color: white;
}

#accordianImg {
    width: 17rem;
}
