/*CSS for index.html*/
.instagram-icon {
    background: linear-gradient(30deg, yellow, orange, hotpink, purple, blue)
}

.fa-phone {
    color: black;
}

.fa-envelope-o {
    color: white;
}

<<<<<<< HEAD
/*style css for the about us page*/
.aboutus-image {
    border: 3px solid green;
}
=======
#accordianImg {
    width: 17rem;
}
>>>>>>> master
